:root {
    --color-bg-main: #000000;
    --color-bg-1: rgba(255, 255, 255, 0.04);
    --color-bg-2: rgba(255, 255, 255, 0.07);
    --color-bg-3: rgba(255, 255, 255, 0.09);
    --color-bg-4: rgba(255, 255, 255, 0.11);
    --color-shadow: #000000;
    --color-text-main: #fff;
    --color-text-secondary: rgba(255, 255, 255, 0.699);
    --color-text-dim: rgba(255, 255, 255, 0.5);
    --color-accent: greenyellow;
    --color-primary: #BB86FC;
    --color-secondary: #03DAC5;
    --color-alert: rgb(255, 145, 145);
  
  }
  
  
  html[color-scheme='light'] {
    --color-bg-main: #fff;
    --color-bg-1: #5d7c8b85;
    --color-bg-2: #5d7c8b85;
    --color-bg-3: #b8b8b8;
    --color-shadow: #000000;
    --color-text-main: rgba(0, 0, 0, 0.8);
    --color-text-secondary: rgba(0, 0, 0, 0.6);
    --color-text-dim: rgba(0, 0, 0, 0.5);
    --color-accent: greenyellow;
    --color-primary: #BB86FC;
    --color-secondary: #442c2e;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-text-main)
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }


.nav {
  position: fixed;
  top: 15%;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}